html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.info-box-section {

}

.info-box {
  display: inline-block;
}
.picture-box {
   width: auto
}

.text-box{
  width: 50%;
  background-color: #b4b8b6
}
